<div class="wrapper">
  <ul class="list-page data-list da-clear">
    <% @volunteers.each do |volunteer| %>
        <li class="da-all da-padfull">
          <div class="da1">
            <b><%= link_to volunteer.name, volunteer %></b>
            <% if volunteer.dbs_checked %>
                Is DBS checked
            <% end %>
          </div>
          <div class="da2-da3 hours">
            <b><%= volunteer.hours_per_week %></b> hours per week on these days
            <br />
            <b><%= volunteer.days_available.join(', ') %></b>
          </div>
          <div class="da4"><%= volunteer.skills.join(', ') %></div>
          <div class="da5">
            Near <b><%= volunteer.postcode %></b>
            <br />
            within <%= volunteer.miles_from %> miles
          </div>
          <div class="da6 actions">
          </div>
        </li>
    <% end %>
  </ul>
</div>


