<div class="page wrapper db2-db3 db-padinfull">
  <%= simple_form_for @volunteer, url: '' do |f| %>
      <div class="db-all form-question">
        <div>My name is...</div>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="db-all form-question">
        <span>I can donate</span>
        <span>
            <%= f.text_field :hours_per_week, class: 'form-control' %>
          </span>
        <span> hours per week</span>
      </div>

      <div class="db-all form-question">
        <span>I available on the following days of the week...</span>
        <span>
          <%= f.select :days_available, options_for_select(Date::DAYNAMES), {}, { multiple: true, class: 'form-control' } %>
        </span>
      </div>

      <div class="db-all form-question">
        <span>I have the following skills</span>
        <span><%= f.text_field :skills, class: 'form-control' %></span>
      </div>

      <div class="db-all form-question">
        <span>I am willing to travel</span>
        <span>
          <%= f.select :miles_from, options_for_select(['1 mile', '2 miles', '5 miles', '10 miles', '10+ miles']), {}, { class: 'form-control' } %>
        </span>
      </div>

      <div class="db-all form-check form-question">
        <label class="form-check-label">
          <%= f.check_box :dbs_checked, class: 'form-check-input' %>
          I am DBS checked
        </label>
      </div>

      <div class="db-all">
        <%= f.button :submit %>
      </div>
  <% end %>
</div>
