<%= simple_form_for @charity do |f| %>
    <%= f.error_notification %>
    <div class="db-all form-question">
      We are called...
      <%= f.text_field :name, class: 'form-control db-padin' %>
    </div>
    <div class="db-all form-question">
      Our primary postcode is...
      <%= f.text_field :postcode, class: 'form-control db-padin' %>
    </div>
    <div class="db-all">
      <%= f.button :submit %>
    </div>
<% end %>
