<!DOCTYPE html>
<html>
  <head>
    <title>VolunteerMatcher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="wrapper">
        <div class="da1-da2">Volunteer Matcher</div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'gridset-overlay', 'data-turbolinks-track': 'reload' %>
</html>
